In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import sklearn

In [2]:
df=pd.read_csv('spam_ham_dataset.csv')

In [3]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [4]:
y=df.iloc[:,1]

In [5]:
y.head()

0     ham
1     ham
2     ham
3    spam
4     ham
Name: label, dtype: object

In [6]:
y=pd.get_dummies(y,drop_first=True)

In [7]:
y.head()

   spam
0     0
1     0
2     0
3     1
4     0

In [9]:
y.value_counts()

spam
0       3672
1       1499
dtype: int64

In [10]:
X=df.iloc[:,2]

In [11]:
X.head()

0    Subject: enron methanol ; meter # : 988291\r\n...
1    Subject: hpl nom for january 9 , 2001\r\n( see...
2    Subject: neon retreat\r\nho ho ho , we ' re ar...
3    Subject: photoshop , windows , office . cheap ...
4    Subject: re : indian springs\r\nthis deal is t...
Name: text, dtype: object

In [21]:
corpus=[]
for i in range(len(X)):
   
    text=re.sub('^a-zA-Z0-9',' ',X[i])
    text=text.split()
    corpus.append(text)

In [22]:
corpus[:1]

[['Subject:',
  'enron',
  'methanol',
  ';',
  'meter',
  '#',
  ':',
  '988291',
  'this',
  'is',
  'a',
  'follow',
  'up',
  'to',
  'the',
  'note',
  'i',
  'gave',
  'you',
  'on',
  'monday',
  ',',
  '4',
  '/',
  '3',
  '/',
  '00',
  '{',
  'preliminary',
  'flow',
  'data',
  'provided',
  'by',
  'daren',
  '}',
  '.',
  'please',
  'override',
  'pop',
  "'",
  's',
  'daily',
  'volume',
  '{',
  'presently',
  'zero',
  '}',
  'to',
  'reflect',
  'daily',
  'activity',
  'you',
  'can',
  'obtain',
  'from',
  'gas',
  'control',
  '.',
  'this',
  'change',
  'is',
  'needed',
  'asap',
  'for',
  'economics',
  'purposes',
  '.']]

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [24]:
tdidf=TfidfVectorizer()

In [27]:
X=tdidf.fit_transform(X)

In [29]:
X

<5171x50447 sparse matrix of type '<class 'numpy.float64'>'
	with 456145 stored elements in Compressed Sparse Row format>

In [30]:
import pickle

In [31]:
pickle.dump(tdidf,open('model.pkl','wb'))

In [32]:
model=pickle.load(open('model.pkl','rb'))

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [35]:
from sklearn.naive_bayes import MultinomialNB

In [36]:
clf=MultinomialNB()

In [37]:
clf.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

MultinomialNB()

In [38]:
clf.score(X_test,y_test)

0.8782608695652174

In [39]:
y_pred=clf.predict(X_test)

In [40]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [41]:
accuracy_score(y_test,y_pred)

0.8782608695652174

In [42]:
file='nlp.pkl'
pickle.dump(clf,open(file,'wb'))